<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Dashboard | The Quantum Guys</title>
<meta name="description" content="Bootstrap.">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/jquery.dataTables.min.css" integrity="sha256-YY1izqyhIj4W3iyJOaGWOpXDSwrHWFL4Nfk+W0LyCHE=" crossorigin="anonymous" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TQG Dashboard</a>
    <button class="navbar-toggler" type="btton" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Email collections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Back to home</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <table id="myTable" class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>TimeStamp</th>
          <th></th>
        </tr>
      </thead>
        <tbody>
          <% contacts.forEach(function(contact) { %>
              <tr>
                <td><%= contact.id %></td>
                <td><%= contact.email %></td>
                <td><%= contact.timestamp %></td>
                <td><button onClick="removeContact(<%= contact.id %>)">Remove</button><button data-toggle="modal" data-target="#exampleModal">Message</button></td>
              </tr>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Send message to <%= contact.email %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/mail/message_contact/<%= contact.email %>" method="POST">
                        <div class="form-group">
                          <label>Message</label>
                          <textarea class="form-control" rows="3" name="message" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
          <% }); %>
        </tbody>
      </table>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
  <script>
  $(document).ready(function(){
      $('#myTable').dataTable();
  });

  const removeContact = async (id) => {
    const res = await fetch(`/api/contacts/${id}`, {
      method: 'DELETE'
    })
    const data = await res.json();
    if(!data.error) {
      location.reload();
    } else {
      alert('Something unexpected happened');
    }
  }
  </script>
</body>
</html>
